<section class= "main-section row full-height">
    <aside class="col-2 leftnav ">
      <%= render 'users/leftnav' %>
    </aside>

  <section class= "mid-section col-10 pl-0 full-height">
  
    <%= render 'users/navbar' %>
    <article class= 'main-showcase whotofollow full-height'>
        <div class ='mt-5 '>    
            <div class="showcase">
                <% if @users_cover.cover_image.attached? %>
                    <%= image_tag @user.cover_image, class: "cover-image" %>
                 <% else %>
                      <%= image_tag "cover.jpg", class: "cover-image" %>
                 <% end %>
            </div>


        </div>
       
          <div class ='follow-sec'>
         <% if current_user == @user %>
               <%= link_to edit_user_path(@user), class: "text-decoration-none text-secondary big-icon mr-3" do %>
               <i class="fas fa-user-edit fa-lg" aria-hidden="true"></i>
        <% end %>
    <% else %>
        <% if current_user != @user && current_user.followed?(@user) %>
            <%= render 'unfollow_button' %>
        <% else %>
            <%= render partial: 'follow_button', locals: {user: @user} %>
        <% end %>
    <% end %>
          </div>
     </article>
  </section>
</section>
