<section class= "main-section row full-height">
    <aside class="col-2 leftnav full-height">
      <%= render 'users/leftnav' %>
    </aside>

  <section class= "mid-section col-10 pl-0 full-height">
  
    <%= render 'users/navbar' %>
    <article class= 'row whotofollow'>
        <div class ='col-9 mt-5 '>    
            <div class="showcase">
                 <% if @users_cover.cover_image.attached? %>
                    <%= image_tag @user.cover_image, class: "cover-img" %>
                 <% else %>
                      <%= image_tag "cover.jpg", class: "cover-img" %>
                 <% end %>
            </div>


        </div>
       
          <div class ='col-3 follow-sec'>
              <%= render 'posts/whotofollow' %>
          </div>
     </article>
  </section>
</section>
